.top_banner {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  border-bottom: 1px solid #dfbb0020;
}

.top_banner .inner {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.top_banner .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.top_banner .inner .rolling_bar {
  /*   display: inline-block; */
  animation: text-scroll 35s linear infinite;
}
@keyframes text-scroll {
  from {
    transform: translateX(20%);
    -moz-transform: translateX(20%);
    -webkit-transform: translateX(20%);
    -o-transform: translateX(20%);
    -ms-transform: translateX(20%);
  }
  to {
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
  }
}

.top_banner .inner .rolling_bar ul li {
  display: inline-block;
  padding-right: 1200px;

  font-size: 14px;
  font-weight: 300;

  color: #c1c1c1;
}

.header {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid #dfbb0033;
  z-index: 999;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header .inner .logo a {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #dcbe96;
  background: #dcbe9630;
}
.header .inner .logo a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #dcbe96;
}

.header .inner .gnb {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.header .inner .gnb > .menu > li > a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s;
}
.header .inner .gnb > .menu > li > a.active,
.header .inner .gnb > .menu > li > a:hover {
  color: #dcbe96;
}
.header .inner .gnb > .menu > li > a.active::before,
.header .inner .gnb > .menu > li > a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;

  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.header .inner .gnb > .menu > li > a.active::before,
.header .inner .gnb > .menu > li > a:hover::before {
  visibility: visible;
  opacity: 1;
  background: #dcbe96;
  background: linear-gradient(90deg, transparent 0, #dcbe96 50%, transparent);
}

.header .inner .log {
  gap: 10px;
}
.header .inner .log > li > a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  border: 2px solid #dfbb0033;
  border-radius: 30px;
  transition: all 0.4s;
}

.header .inner .log > li > a:hover {
  border: 2px solid #dcbe96;
  background: radial-gradient(circle, #f0e0a2 0%, #b59975 100%);
}
